name: docker ci-cd

on: 
  push:
    branches: [ "main" ]

jobs:
    build-and-run:
        runs-on: ubuntu-latest # starts a ubuntu image which called as runner

        steps:
          - name : Checkout code #copys the github code
            uses: action/checkout@v3

          - name: Deploy over SSH and rebuild on server
            uses: appleboy/ssh-action@v1.0.0
            with:
             host: ${{ secrets.SERVER_HOST }}
             username: ${{ secrets.SERVER_USER }}
             password: ${{ secrets.SERVER_PASSWORD }}
             script: |
                cd flask-app/ci-cd-flask/
                git fetch origin main
                git reset --hard origin/main
                docker build -t flask-app:latest@v2 .
                docker stop flask-app || true
                docker rm flask-app || true
                docker run -d -p 5050:3000 --name flask-appv2 flask-app:latest@v2
        
