name: docker ci-cd

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-run:
    runs-on: ubuntu-latest # starts a ubuntu image which is called a runner

    steps:
      # (Optional) This step isn't required for SSH-only deploy

      - name: Deploy over SSH and rebuild on server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          script: |
            cd flask-app/ci-cd-flask/  
            git fetch origin main
            git reset --hard origin/main

            # Build a fresh Docker image
            docker build -t flask-app:v2 .

            # Stop & remove old container if it exists
            docker stop flask-app || true
            docker rm flask-app || true

            # Run the new container
            docker run -d -p 5060:5000 --name flask-app flask-app:v2
